# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace
*.work

# Coverage
*.coverprofile
coverage.txt

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log

# Vendor
/vendor/

# Original sdk
/php/
/menu/

.env
